<footer id="footer">
    <img src="img/dots.png" alt="" class="f-dots">
    <img src="img/dots-big.png" alt="" class="f-dots-big">
    <div class="f-square"></div>
    <div class="f-square-big"></div>

    <div class="container">
        <div class="title-1">Контакты</div>
        <form class="my-4">
            <div class="call-me m-auto">
                <input type="text" class="input-1 call-me__input" placeholder="+380 00 00 00 000">
                <button class="call-me__button">Перезвоните мне!</button>
            </div>
        </form>
        <div class="row">
            <div class="col-auto m-auto">
                <div class="d-flex f-contact">
                    <a href="#" class="f-icon mr-2">
                        <svg class="svgicon">
                            <use xlink:href="img/sprite.svg#phone"></use>
                        </svg>
                    </a>
                    <span class="f-contact__text">+ 44 (20) 380-88-132 (страны ЕС)</span>
                </div>
                <div class="d-flex f-contact">
                    <a href="#" class="f-icon mr-2">
                        <svg class="svgicon">
                            <use xlink:href="img/sprite.svg#envelope"></use>
                        </svg>
                    </a>
                    <span class="f-contact__text">info@high-risk.pro</span>
                </div>
                <div class="d-flex f-contact">
                    <a href="#" class="f-icon mr-2">
                        <svg class="svgicon">
                            <use xlink:href="img/sprite.svg#msgr-4"></use>
                        </svg>
                    </a>
                    <span class="f-contact__text">+ 38 068 688 51 44</span>
                </div>
                <div class="d-flex f-contact">
                    <a href="#" class="f-icon mr-2">
                        <svg class="svgicon">
                            <use xlink:href="img/sprite.svg#skype"></use>
                        </svg>
                    </a>
                    <span class="f-contact__text">HIGH-RISK.PRO</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="title-1 mb-5">Оставить заявку</div>
        <form class="f-form m-auto">
            <div class="row">
                <div class="col-md-6 mb-3 pr-lg-3">
                    <input type="text" class="input-1" placeholder="+380 00 00 00 000">
                </div>
                <div class="col-md-6 mb-3 pl-lg-3">
                    <select class="select-2">
                        <option value="3">Удобный способ связи</option>
                        <option value="1">Телефон</option>
                        <option value="2">Telegram</option>
                        <option value="4">Whatsapp</option>
                        <option value="5">Viber</option>
                    </select>
                </div>
                <div class="col-12 text-center">
                    <button class="button-2">Оставить заявку</button>
                </div>
            </div>
        </form>
        <div class="m-0 mt-3 text-white text-center">
            Hight-Risk.pro Все права защищены 2016
            <div class="h-social">
                <a href="#">
                    <svg class="svgicon">
                        <use xlink:href="img/sprite.svg#facebook-circular"></use>
                    </svg>
                </a>
                <a href="#">
                    <svg class="svgicon">
                        <use xlink:href="img/sprite.svg#instagram-circular"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>
<div class="call-pulse">
    <button class="call-pulse__close">+</button>
    <a href="#" class="call-button">
        <svg class="svgicon">
            <use xlink:href="img/sprite.svg#i-call"></use>
        </svg>
    </a>
</div>
<script src="js/bundle.js"></script>
<script src="js/main.js"></script>
</body>
</html>
