<p>Основная валюта оплаты</p>
<div class="drop-right mb-3">
    <div class="drop-right__current">
        eur
    </div>
    <div class="drop-right__options">
        <label>
            eur
            <input type="radio" name="currency" value="eur" checked>
        </label>
        <label>
            usd
            <input type="radio" name="currency" value="usd">
        </label>
        <label>
            jpy
            <input type="radio" name="currency" value="jpy">
        </label>
        <label>
            uah
            <input type="radio" name="currency" value="uah">
        </label>
        <label>
            rub
            <input type="radio" name="currency" value="rub">
        </label>
    </div>
</div>
<div class="table-responsive mb-3">
    <table class="table-2">
        <thead>
        <tr>
            <th style="width: 100%"></th>
            <th>Существующий</th>
            <th>Планируемый</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Оборот за месяц</td>
            <td>1321</td>
            <td>1501</td>
        </tr>
        <tr>
            <td>Среднее количество операций за месяц</td>
            <td>1321</td>
            <td>1501</td>
        </tr>
        <tr>
            <td>Средняя величина одной операции</td>
            <td>1321</td>
            <td>1501</td>
        </tr>
        <tr>
            <td>Среднее количество операций за месяц</td>
            <td>1321</td>
            <td>1501</td>
        </tr>
        <tr>
            <td>Средняя величина одной операции</td>
            <td>1321</td>
            <td>1501</td>
        </tr>
        <tr>
            <td>Среднее количество операций за месяц</td>
            <td>1321</td>
            <td>1501</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <button type="button" class="button-2 mt-2 btn-change-step" data-stepid="2">Назад</button>
    <button type="button" class="button-3 px-5 mt-2 btn-change-step btn-next-form" data-stepid="4">
        Далее</button>
</div>
