<div class="empty-check">
    <div class="row">
        <div class="col-xl-6">
            <div class="form-item">
                <label>Названия компании</label>
                <input type="text" required class="form-input">
            </div>
        </div>
        <div class="col-xl-6">
            <div class="form-item">
                <label>Страна регистрации</label>
                <input type="text" required class="form-input">
            </div>
        </div>
        <div class="col-xl-6">
            <div class="form-item">
                <label>Юридический адрес</label>
                <input type="text" required class="form-input">
            </div>
        </div>
        <div class="col-xl-6">
            <div class="form-item">
                <label>Регистрационный номер</label>
                <input type="text" required class="form-input">
            </div>
        </div>
        <div class="col-xl-6">
            <div class="form-item">
                <label>Интернет сайт (ы)</label>
                <div class="input-plus">
                    <input type="text" name="site" class="form-input">
                    <button type="button" class="add-field">+</button>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="form-item">
                <label>Электронная почта</label>
                <input type="email" required class="form-input">
            </div>
        </div>
        <div class="col-xl-6">
            <div class="form-item">
                <label>Телефон</label>
                <input type="text" required class="form-input">
            </div>
        </div>
        <div class="col-xl-6">
            <div class="form-item">
                <label>Mcc codes</label>
                <select class="select-1">
                    <option>Украина</option>
                    <option>Польша</option>
                    <option>Литва</option>
                    <option>Латвия</option>
                </select>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="form-item">
                <label>Skype</label>
                <input type="text" class="form-input">
            </div>
        </div>
    </div>
    <div class="text-center">
        <button type="button" class="button-3 px-5 mt-2 btn-change-step btn-next-form" disabled
                data-stepid="2">Далее</button>
    </div>
</div>