<div class="empty-check">
    <div class="mb-3">
        <label for="desc" class="label-1">2.1 описание предлагаемьх товаров/услуг</label>
        <textarea class="ta-1" required id="desc"></textarea>
    </div>

    <div class="mb-3">
        <label for="lic" class="label-1">2.2 необходимость/наличие лицензии (номер, дата и место выдачи, срок
            действия)</label>
        <textarea class="ta-1" required id="lic"></textarea>
    </div>

    <div class="label-1 mb-3">2.3 В каких странах находятся ваши потенциальные клиенты (%)</div>

    <div class="row mb-4">
        <div class="col-6 col-xl-3 mb-2">
            <label class="checkbox-1">
                <input type="checkbox" name="country" value="pribaltika">
                <span>Прибалтика</span>
            </label>
        </div>
        <div class="col-6 col-xl-3 mb-2">
            <label class="checkbox-1">
                <input type="checkbox" name="country" value="sng">
                <span>Страны СНГ</span>
            </label>
        </div>
        <div class="col-6 col-xl-3 mb-2">
            <label class="checkbox-1">
                <input type="checkbox" name="country" value="asia">
                <span>Азия</span>
            </label>
        </div>
        <div class="col-6 col-xl-3 mb-2">
            <label class="checkbox-1">
                <input type="checkbox" name="country" value="es">
                <span>Страны ЕС</span>
            </label>
        </div>
        <div class="col-6 col-xl-3 mb-2">
            <label class="checkbox-1">
                <input type="checkbox" name="country" value="usa">
                <span>США и Канада</span>
            </label>
        </div>
        <div class="col-6 col-xl-3 mb-2">
            <label class="checkbox-1">
                <input type="checkbox" name="country" value="russia">
                <span>Россия</span>
            </label>
        </div>
        <div class="col-6 col-xl-3 mb-2">
            <label class="checkbox-1">
                <input type="checkbox" name="country" value="other">
                <span>Другое</span>
            </label>
        </div>
    </div>
    <div class="text-center">
        <button type="button" class="button-2 mt-2 btn-change-step" data-stepid="1">Назад</button>
        <button type="button" class="button-3 px-5 mt-2 btn-change-step btn-next-form" disabled
                data-stepid="3">
            Далее
        </button>
    </div>
</div>