<section id="home-services">
    <img class="services-bg" src="img/services-bg.svg" alt="services-bg">
    <div class="container">
        <div class="title-1 text-cyan mb-4">High-risk.pro</div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <p class="text-center fz-16">Став нашим клиентом, Ваш бизнес получит безопасную и быструю
                    обработку
                    платежей на гибких и выгодных условиях.</p>
            </div>
        </div>

        <div class="title-1 text-cyan title-services">Услуги</div>

        <div class="row justify-content-center">
            <div class="col-lg-4 text-center mb-5">
                <div class="gradient-icon mb-3">
                    <svg class="svgicon">
                        <use xlink:href="img/sprite.svg#i-hand"></use>
                    </svg>
                </div>
                <div class="title-2 mb-2">Надежный прием платежей</div>
                <p>Платежная система позволяет принимать платежи на сайтах и других интернет-проектах,
                    используя различные методы оплаты, и получать гарантированные выплаты в любой точке
                    мира.</p>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <div class="gradient-icon mb-3">
                    <svg class="svgicon">
                        <use xlink:href="img/sprite.svg#i-document"></use>
                    </svg>
                </div>
                <div class="title-2 mb-2">Юридическое сопровождение</div>
                <p>Легализация Вашего бизнеса: подберем оптимальную юрисдикцию, зарегистрируем компанию,
                    обеспечим комплексное правовое сопровождение деятельности, в т.ч. лицензиро ...</p>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <div class="gradient-icon mb-3">
                    <svg class="svgicon">
                        <use xlink:href="img/sprite.svg#i-insurance"></use>
                    </svg>
                </div>
                <div class="title-2 mb-2">Безопасность</div>
                <p>Соответствие требованиям безопасности PCI DSS, широкий выбор способов оплаты и юрисди-
                    кций, сотрудничество с проверенными банками и продвинутая система фрод-мониторинга гара
                    ...</p>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <div class="gradient-icon mb-3">
                    <svg class="svgicon">
                        <use xlink:href="img/sprite.svg#i-shake"></use>
                    </svg>
                </div>
                <div class="title-2 mb-2">Партнерская программа</div>
                <p>Программа лояльности и выгодная система формирования тарифов для наших постоянных клиентов
                    и аффилиатов, а также бонусная про- грамма при привлечении новых проектов.</p>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <div class="gradient-icon mb-3">
                    <svg class="svgicon">
                        <use xlink:href="img/sprite.svg#i-chart"></use>
                    </svg>
                </div>
                <div class="title-2 mb-2">Личный кабинет</div>
                <p>удобный интерфейс, доступ к транзакциям 24/7, возможность выставить счет для инвойса, про-
                    зрачный отчет и статистика по транзакциям, а также персональный менеджер, который ...</p>
            </div>
        </div>
    </div>
</section>