<section id="benefits">
    <div class="benefits-1">
        <img src="img/dots.png" alt="dots" class="f-dots">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 order-lg-1 text-center">
                    <img class="benefits-1-image" src="img/notebook-1.png" alt="notebook">
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="b-item-1">
                                <div class="b-item-1__big">1</div>
                                <div class="b-item-1__text">1 час<br>подключение</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="b-item-1">
                                <div class="b-item-1__big">20</div>
                                <div class="b-item-1__text">Более 20<br>лет опыта</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="b-item-1">
                                <div class="b-item-1__big">24/7</div>
                                <div class="b-item-1__text">24/7 на связи<br>персональный менеджер</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="benefits-2">
        <img src="img/dots-color.png" alt="" class="f-dots">
        <div class="f-square"></div>
        <div class="container">
            <div class="title-1 text-cyan mb-5">Преимущества</div>
            <ul class="list-1">
                <li>Гарантированный прием карт любых банков, платежных систем и стран</li>
                <li>Все виды платежей: 2D Secure, 3D Secure, МО/ТО, RECURRING PAYMENTS, подписка по Вашему
                    индивидуальному сценарию
                </li>
                <li>Эквайринг на европейские счета, в том числе и для международных компаний</li>
                <li>Принятие решения о подключении за 1 час</li>
                <li>Партнерские отношения с банковским сектором по всему миру</li>
                <li>Мультивалютный процессинг</li>
                <li>Личный кабинет в режиме 24/7 онлайн</li>
                <li>Токенизация (возможность расчетов в криптовалюте): быстрые выплаты, без чарджбека,
                    прозрачные
                    транзакции
                </li>
                <li>Интеллектуальная и настраиваемая система фрод-мониторинга (FRAUD Monitoring)</li>
                <li>Выплаты в любые резиденции, ежедневно</li>
                <li>Уникальный софт и собственный штат IT-специалистов</li>
                <li>Огромный опыт оптимизации платежных решений</li>
                <li>Выгодные партнерские программы</li>
            </ul>
        </div>
    </div>

    <div class="benefits-3">
        <div class="container">
            <div class="title-1 text-cyan mb-5">Нужен ли Вашему бизнесу HIGH RISK MERCHANT ACCOUNT?</div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card-1">
                        <div class="title-3 mb-2">Да, если это:</div>
                        <p>Продажа электроники онлайн; Сервис по обслуживанию долгов; Гороскоп; Дилеры
                            огнестрельного оружия; Заказ по почте или телефонный заказ; Многоуровневый
                            маркетинг;
                            Интернет-аукционы; Сайты онлайн-знакомств; Загрузка программного обеспечения;
                            Телемаркетинг; Телекоммуникации; Реклама в Timeshare; Туристические услуги;
                            Фармацевтика; Форекс ; Бинарные опционы Гэмблинг ; Беттинг; Онлайн-казино ;
                            Онлайн-торговля предметами искусства ; историческими ценностями и геологическими
                            находками; Онлайн -торговля драгоценными и полудрагоценными камнями и металлами;
                            драгоце- нными изделиями Ежегодное членство; Продукты для взрослых; Контент 18+ ;
                            Залоговые облигации;</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card-1">
                        <div class="title-3 mb-2">Хай-рисковым может признаваться бизнес, если:</div>
                        <ul class="list-2">
                            <li>Попал в черный список в TMF или MATCH;</li>
                            <li>Имеет плохую историю с индивидуальным займами;</li>
                            <li>Его коммерческие продажи считаются запрещенными некоторыми банками;</li>
                            <li>Продает продукты, активируемые в будущем, такие как бронирование гостиниц,
                                билеты на мероприятие и т. д.;
                            </li>
                            <li>Продает дорогостоящие предметы (мебель, кастомные автозапчасти и т. д.);</li>
                            <li>Относится к отрасли с исторически высокими чарджбеками;</li>
                            <li>Предусматривает членство с автоматическими регулярными платежами.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="benefits-4">
        <img class="services-bg" src="img/services-bg.svg" alt="services-bg">
        <div class="container">
            <div class="title-1 text-cyan mb-5">Токенизация</div>
            <div class="row">
                <div class="col-lg pr-xl-3">
                    <p class="font-weight-bold">
                        Подключив платежную систему High risk.pro к Вашему сайту (интернет-проекту), Ваши
                        покупатели получают возможность оплатить товар/услугу криптовалютой (токенами).
                    </p>
                    <p class="my-3">Преимущества крипторасчетов:</p>
                    <ul class="list-3">
                        <li>
                            <svg class="svgicon">
                                <use xlink:href="img/sprite.svg#b-shake"></use>
                            </svg>
                            Соціальні мережі
                        </li>
                        <li>
                            <svg class="svgicon">
                                <use xlink:href="img/sprite.svg#b-users"></use>
                            </svg>
                            Фриланс услуги
                        </li>
                        <li>
                            <svg class="svgicon">
                                <use xlink:href="img/sprite.svg#b-monitor"></use>
                            </svg>
                            Онлайн магазини
                        </li>
                        <li>
                            <svg class="svgicon">
                                <use xlink:href="img/sprite.svg#b-hand"></use>
                            </svg>
                            Баланс для бізнесу
                        </li>
                        <li>
                            <svg class="svgicon">
                                <use xlink:href="img/sprite.svg#b-dollar"></use>
                            </svg>
                            Финансові сервіси
                        </li>
                        <li>
                            <svg class="svgicon">
                                <use xlink:href="img/sprite.svg#b-banks"></use>
                            </svg>
                            Банки
                        </li>
                    </ul>
                </div>
                <div class="col-lg pl-xl-3">
                    <div class="accordion-group mt-lg-n2">
                        <div class="accordion-item">
                            <div class="accordion-item__title">
                                Высокая скорость обработки платежей низкая стоимость услуги
                            </div>
                            <div class="accordion-item__body">
                                упрощает и ускоряет куплю-продажу товаров/услуг, поскольку не требуется
                                оформления прав собственности и физического перемещения активов; обеспечивает
                                более удобный функционал (многоуровневая аутентификация, создание инвойсов,
                                регулярные платежи, мобильные приложения и т.д.); повышает безопасность
                                сделки, благодаря учету транзакций на базе бло- кчейн; убирает необходимость
                                участия посредников и т.д.
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-item__title">
                                Подключив платежную систему High risk.pro к Вашему сайту:
                            </div>
                            <div class="accordion-item__body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad architecto
                                delectus enim expedita illum, praesentium quas qui quis repudiandae sed,
                                similique tempora totam. Atque consequuntur debitis omnis possimus ullam!
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-item__title">
                                Токен - это
                            </div>
                            <div class="accordion-item__body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad architecto
                                delectus enim expedita illum, praesentium quas qui quis repudiandae sed,
                                similique tempora totam. Atque consequuntur debitis omnis possimus ullam!
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-item__title">
                                Coins или криптовалюта
                            </div>
                            <div class="accordion-item__body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad architecto
                                delectus enim expedita illum, praesentium quas qui quis repudiandae sed,
                                similique tempora totam. Atque consequuntur debitis omnis possimus ullam!
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-item__title">
                                Токенизация
                            </div>
                            <div class="accordion-item__body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad architecto
                                delectus enim expedita illum, praesentium quas qui quis repudiandae sed,
                                similique tempora totam. Atque consequuntur debitis omnis possimus ullam!
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-item__title">
                                Преимущества:
                            </div>
                            <div class="accordion-item__body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad architecto
                                delectus enim expedita illum, praesentium quas qui quis repudiandae sed,
                                similique tempora totam. Atque consequuntur debitis omnis possimus ullam!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="quote">
                <svg class="svgicon quote-icon-1">
                    <use xlink:href="img/sprite.svg#quote"></use>
                </svg>
                <svg class="svgicon quote-icon-2">
                    <use xlink:href="img/sprite.svg#quote"></use>
                </svg>
                На сегодняшний день операции с токенами не попадают в поле зрения банков как рисковые.
                Существует мнение, что через пару десятков лет почти все активы окажутся цифровыми.
            </div>
        </div>
    </div>
</section>