<section id="home-slider">
  <div id="hero-slider">
    <div class="hero-slider__slide">
      <div class="slide-inner">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="slide-text">
                <div class="slide-text__title">
                  <div>Прием платежей</div>
                  <div class="text-small my-1">НА САЙТАХ И ИНТЕРНЕТ-ПРОЕКТАХ</div>
                  <div class="text-cyan-2">БЕЗ CHARGEBACK'ОВ</div>
                </div>
                <ul class="list-1 mb-6">
                  <li>Подключение к платежной системе в течение 1 часа</li>
                  <li>Online-поддержка 24/7</li>
                  <li>Выгодная и гибкая партнерская программа</li>
                </ul>
                <a href="#footer" class="button-1 place-order anchor">Подать заявку</a>
              </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block slide-image">
              <img src="img/slide-money.png" alt="" class="ml-xl-n7">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    <div class="hero-slider__slide">-->
    <!--      <div class="slide-inner">-->
    <!--        <div class="container">-->
    <!--          <div class="row align-items-center">-->
    <!--            <div class="col-lg-6">-->
    <!--              <div class="slide-text">-->
    <!--                <div class="slide-text__title">УДОБНАЯ И БЫСТРАЯ ИНТЕГРАЦИЯ</div>-->
    <!--                <ul class="list-1">-->
    <!--                  <li>Возможность предварительного тестирования функционала личного-->
    <!--                    кабинета-->
    <!--                  </li>-->
    <!--                  <li>Индивидуальный подход: уникальный набор инструментов для каждого-->
    <!--                    клиента-->
    <!--                  </li>-->
    <!--                  <li>Инновационные платежные инструменты последнего поколения</li>-->
    <!--                </ul>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-lg-6 d-none d-lg-block slide-image">-->
    <!--              <img src="img/slide-phones.png" alt="">-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="hero-slider__slide">-->
    <!--      <div class="slide-inner">-->
    <!--        <div class="container">-->
    <!--          <div class="row align-items-center">-->
    <!--            <div class="col-lg-6">-->
    <!--              <div class="slide-text">-->
    <!--                <div class="slide-text__title">ПРИЕМ ПЛАТЕЖЕЙ В ИНТЕРНЕТЕ</div>-->
    <!--                <ul class="list-1">-->
    <!--                  <li>Платежи для High-Risk проектов по всему миру без блокировки операций</li>-->
    <!--                  <li>Процессинг через ведущие мировые банки</li>-->
    <!--                  <li>Токенизация платежей</li>-->
    <!--                </ul>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <div class="col-lg-6 d-none d-lg-block slide-image">-->
    <!--              <img src="img/slide-cards.png" alt="">-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
  <div class="slider-controls">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-auto">
          <div class="slider-year">2020</div>
        </div>
        <div class="col-auto mx-auto">
          <div class="slider-dots"></div>
        </div>
        <div class="col-auto">
          <div class="slick-arrows"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="particles-js"></div>
  <div id="hero-scene">
    <div class="h-square"></div>
    <img src="img/dots.png" alt="dots" class="f-dots">
    <div class="h-square-big"></div>
    <img src="img/dots-big.png" alt="image" class="f-dots-big">
    <div class="h-square-small"></div>
  </div>
</section>