@include('inc/header-1.html', {"bodyclass": ""})

<div class="container">
    <div class="card-2 my-5">
        <div class="row no-gutters">
            <div class="col-lg-auto">
                @include("inc/profile-navigation.html")
            </div>
            <div class="col-lg">
                <div class="card-content">
                    <div class="title-2 text-cyan mb-6">
                        <svg class="svgicon">
                            <use xlink:href="img/sprite.svg#document-plus"></use>
                        </svg>
                        Мои заявки
                    </div>
                    <div class="table-responsive">

                        <table class="table-1">
                            <thead>
                            <tr>
                                <th style="width: 50%">Название магазина</th>
                                <th>Статус</th>
                                <th>Опции</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>fABRUKA54</td>
                                <td><span class="status-1">На модерации</span></td>
                                <td>
                                    <a href="/request-form.html" class="button-icon">
                                        <svg class="svgicon">
                                            <use xlink:href="img/sprite.svg#i-edit"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="button-icon">
                                        <svg class="svgicon">
                                            <use xlink:href="img/sprite.svg#eye"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, cupiditate!</td>
                                <td><span class="status-1">На модерации</span></td>
                                <td>
                                    <a href="/request-form.html" class="button-icon">
                                        <svg class="svgicon">
                                            <use xlink:href="img/sprite.svg#i-edit"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="button-icon">
                                        <svg class="svgicon">
                                            <use xlink:href="img/sprite.svg#eye"></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@include('inc/footer-mini.html')
