@include('inc/header-1.html', {"bodyclass": ""})

<div class="container">
    <div class="card-2 my-5">
        <div class="row no-gutters">
            <div class="col-lg-auto">
                @include("inc/profile-navigation.html")
            </div>
            <div class="col-lg">
                <div class="card-content">
                    <div class="title-2 text-cyan mb-3">
                        <svg class="svgicon">
                            <use xlink:href="img/sprite.svg#user"></use>
                        </svg>
                        Настройки профиля
                    </div>

                    <form>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-item">
                                    <label>Имя</label>
                                    <input type="text" class="form-input">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-item">
                                    <label>Фамилия</label>
                                    <input type="text" class="form-input">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-item">
                                    <label>Страна</label>
                                    <select class="select-1">
                                        <option>Украина</option>
                                        <option>Польша</option>
                                        <option>Литва</option>
                                        <option>Латвия</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-item">
                                    <label>E-mail</label>
                                    <div class="d-flex">
                                        <input type="email" class="form-input">
                                        <button class="edit-button">
                                            <svg class="svgicon">
                                                <use xlink:href="img/sprite.svg#i-edit"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-item">
                                    <label>Город</label>
                                    <input type="text" class="form-input">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-item">
                                    @include("inc/birth-dropdown.html")
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-item">
                                    <label>Адрес</label>
                                    <input type="text" class="form-input">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-item">
                                    <label>Индекс</label>
                                    <input type="text" class="form-input">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-item">
                                    <label>Skype</label>
                                    <input type="text" class="form-input">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-item">
                                    <label>Телефон</label>
                                    <div class="d-flex">
                                        <input type="text" class="form-input">
                                        <button class="edit-button">
                                            <svg class="svgicon">
                                                <use xlink:href="img/sprite.svg#i-edit"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-item">
                                    <label>Изменить пароль</label>
                                    <div class="password-item">
                                        <input type="password"
                                               class="form-input">
                                        <svg class="svgicon toggle-icon">
                                            <use xlink:href="img/sprite.svg#eye-hide"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="button-3 mt-2">Сохранить изменения</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@include('inc/footer-mini.html')
