@include('inc/header-1.html', {"bodyclass": ""})

<div class="container">
    <div class="card-2 my-5">
        <div class="row no-gutters">
            <div class="col-lg-auto">
                @include("inc/profile-navigation.html")
            </div>
            <div class="col-lg">
                <div class="card-content">
                    <div class="title-2 text-cyan mb-3">
                        <svg class="svgicon">
                            <use xlink:href="img/sprite.svg#document"></use>
                        </svg>
                        Заявка на подключение интернет магазина
                    </div>

                    <form id="request-form" class="step-1">
                        <div class="progress">
                            <div class="row no-gutters">
                                <div class="col-3 progress__item">
                                    <div>Интернет торговец</div>
                                </div>
                                <div class="col-3 progress__item">
                                    <div>Деятельность компании</div>
                                </div>
                                <div class="col-3 progress__item">
                                    <div>Финансовая информация</div>
                                </div>
                                <div class="col-3 progress__item">
                                    <div>Сканы документов</div>
                                </div>
                            </div>
                        </div>
                        <div id="req-form-1" class="form-step">
                            @include('inc/form-1.html')
                        </div>
                        <div id="req-form-2" class="form-step">
                            @include('inc/form-2.html')
                        </div>
                        <div id="req-form-3" class="form-step">
                            @include('inc/form-3.html')
                        </div>
                        <div id="req-form-4" class="form-step">
                            @include('inc/form-4.html')
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@include('inc/footer-mini.html')
