#hero-slider {
  position: relative;
  z-index: 22;

  &:not(.slick-initialized) {
    > div:not(:first-child) {
      display: none;
    }
  }

  .hero-slider__slide {
    width: 100%;
    height: 100vh;
    display: flex;
    opacity: 0;

    &.slick-active {

      .slide-text {
        animation: slide_text .6s .3s both;
      }

      .slide-text__title {
        animation: slide_title .6s .3s both;
      }

      .list-1 {
        animation: slide_list .6s .3s forwards;
      }

      .slide-image {
        animation: slide_image .6s .6s both;
      }

    }
  }

  .slide-inner {
    margin: auto;
    width: 100%;
  }
}

.slide-image {

  img {
    width: 100%;

    @include min(1200) {
      width: auto;
      max-width: 800px;
    }
  }
}

.slide-text {
  color: #fff;

  &__title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: .5em;

    @include min(576) {
      font-size: 30px;
    }

    @include min(768) {
      font-size: 38px;
    }

    @include min(1200) {
      font-size: 50px;
    }

    .text-small {
      font-weight: 600;
      font-size: 62%;
    }
  }

  .list-1 {

    @include min(768) {
      font-size: 16px;
    }

    > li {
      color: inherit;

      &:before {
        border-color: #fff;
      }
    }
  }
}

.slider-controls {
  @include scut-absolute(n 0 0 0);
  z-index: 44;
  padding: 30px 0;
  color: #fff;

  .slick-arrow {
    font-size: 1.5em;

    &:first-child {
      margin-right: 20px;
    }
  }

  .slick-dots {
    display: flex;

    @include min(768) {
      margin-left: -80px;
    }

    > li {
      margin: 0 4px;
      width: 11px;
      height: 11px;

      &.slick-active {
        button {
          opacity: 1;
        }
      }

      button {
        border-radius: 50px;
        width: 11px;
        height: 11px;
        display: block;
        opacity: 0.6;
        background: #fff;
        font-size: 0;
        transition: opacity .3s;
      }
    }
  }
}

#particles-js {
  @include scut-fill();
}

#hero-scene {
  @include scut-fill();

  .h-square {
    background: rgba(77, 217, 175, 0.15);
    border-radius: 17px;
    width: 242px;
    height: 242px;
    position: absolute;
    bottom: 226px;
    left: -30px;

    @include max(1200) {
      width: 120px;
      height: 120px;
      bottom: 100px;
    }
  }

  .f-dots {
    position: absolute;
    left: 124px;
    bottom: 160px;
    width: 161px;
    height: 153px;

    @include max(1200) {
      left: 50px;
      bottom: 70px;
      width: 80px;
      height: 75px;
    }
  }

  .h-square-big {
    position: absolute;
    top: 95px;
    right: 28px;
    background: rgba(77, 217, 175, 0.15);
    border-radius: 17px;
    width: 533px;
    height: 553px;

    @include max(1200) {
      width: 180px;
      height: 180px;
    }
  }

  .f-dots-big {
    position: absolute;
    right: 350px;
    bottom: 100px;
    width: 318px;
    height: 303px;

    @include max(1200) {
      width: 120px;
      height: 120px;
      right: 0;
      top: 180px;
      bottom: auto;
    }
  }

  .h-square-small {
    background: rgba(77, 217, 175, 0.15);
    border-radius: 17px;
    position: absolute;
    bottom: 50px;
    right: 280px;
    width: 151px;
    height: 151px;

    @include max(1200) {
      display: none;
    }
  }
}

.slider-year {
  font-weight: bold;

  @include min(768) {
    font-size: 16px;
  }

  &:after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 120px;
    background: #fff;
    vertical-align: middle;
    margin-left: 20px;

    @include max(768) {
      display: none;
    }
  }
}

.place-order {

  @include min(576) {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    padding: 0 60px;

    &:before,
    &:after {
      border-radius: 60px;
    }
  }
}