.profile-navigation {
    background: linear-gradient(277.4deg, #2DC09D 10.79%, #0F928A 74.63%);
    color: #fff;
    padding: 25px 25px;
    height: 100%;

    @include max(992) {
        text-align: center;
    }

    @include min(992) {
        width: 329px;
        min-height: 750px;
    }

    .user-icon {
        margin: 0 25px 0 0;

        @include max(992) {
            margin: 0 0 15px 0;
        }
    }
}

.ref-link {
    input {
        height: 24px;
        font-size: 14px;
        padding: 10px;
    }

    .copy-ref {
        margin: -4px 0 0 10px;
        font-size: 1.7em;
    }
}

.user-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.profile-menu {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 10px 0;
}

.profile-menu-item {
    display: block;
    color: #fff;
    font-weight: 600;
    padding: 10px;

    &:hover {
        span {
            text-decoration: underline;
        }
    }

    .svgicon {
        font-size: 1.5em;
        margin-right: 15px;
        top: .2em;
    }
}

.card-content {
    padding: 30px 15px;

    @include min(576) {
        padding: 30px;
    }

    @include min(1200) {
        padding: 36px 70px;
    }

    .title-2 {
        .svgicon {
            font-size: 1.2em;
            margin-right: 10px;
        }
    }

    .form-item {
        margin-bottom: 20px;
    }

    .edit-button {
        font-size: 2em;
        margin-left: 15px;
        color: $cyan;

        @include min(1200) {
            position: absolute;
            top: 50%;
            transform: translateY(-45%);
            right: -20px;
        }
    }
}

#req-form-1 {

    .row {
        @include min(1200) {
            margin-left: -25px;
            margin-right: -25px;
        }
    }

    .col-xl-6 {
        @include min(1200) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}
